/******* CAROUSEL FILMS ACCUEIL ********/

@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
    /* Controleurs carousel */
    .lnr-chevron-left {
        position: relative;
        left: -55%;
        color: #143642;
        font-size: 35px;
        font-weight: 900;
    }
    .lnr-chevron-right {
        position: relative;
        right: -55%;
        color: #143642;
        font-size: 35px;
        font-weight: 900;
    }
}


/******* FIN CAROUSEL FILMS ACCUEIL ********/


/******** BLOC ARTICLES ET OFFRES ACCUEIL **********/

#mainBlocAccueil {
    margin-right: 0;
    margin-left: 0;
}

.blocArticlesOffres {
    border: solid 0.5px black;
}

.blocArticlesSolo {
    margin: 40px 15px 40px 15px;
    padding: 15px 5px 15px 5px;
    border: solid grey 0.5px;
}


/** NAV **/

.nav {
    background-color: gray;
}

#navigation{
    z-index: 1;
}

.fixe{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-placeholder{
    margin: 0 0 40px 0;
}

.fixed .nav-inner{
   padding: 0 20px;
}

/*.fixed .nav-inner-most{
    max-width: 100%;
    margin: 0 auto;
}*/
