{% extends 'base.html.twig' %}

{% block body %}
    <!-- CAROUSEL source : https://bootsnipp.com/snippets/dl6ez -->

    <div class="container">
        <h4 class="text-uppercase pb-4 col-12">Les films à l'affiche</h4>
        <div id="carouselFilmsAccueil" class="carousel slide" data-ride="carousel" data-interval="false" style="background-color: #ea9010">
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                {% for movie in movies %}
                <div class="carousel-item col-md-2 {% if loop.first %}active{% endif %}">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="{{ path('app_movie_infomovie', {id: movie.id}) }}" title="image" class="thumb">
                                <img id="poster" class="mx-auto d-block" src="{{ movie.posters|replace({'TAILLE': '150'})}}" alt="slide 1" width="140" height="200">
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
            <div class="carousel-control-prev"  href="#carouselFilmsAccueil" role="button" data-slide="prev">
                <span class="lnr lnr-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </div>
            <div class="carousel-control-next" href="#carouselFilmsAccueil" role="button" data-slide="next">
                <span class="lnr lnr-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </div>
        </div>


    <!-- BLOC ARTICLES ET OFFRES -->
        <div id="mainBlocAccueil" class="row mt-5">
            <div class="col-md-12 col-lg-7 col-xl-6 blocArticlesOffres">
                <h5 class="text-center mt-2 pt-2 text-light">Actualités</h5>
                {% for article in articles %}
                    <div class="row blocArticlesSolo">
                        <img class="col-md-4 mx-auto" src="/images/{{ article.image }}" alt="">
                        <p class="col-md-8 mx-auto text-white"><span class="font-weight-bold">{{ article.title }}</span><br>{{ article.content | slice(0, 150) | nl2br }}...</p>
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-end pb-3"><a href="{{ path('app_article_index') }}" style="color: #fff">Voir plus d'articles</a></div>
            </div>
            <div class="offset-lg-1 col-md-12 col-lg-4 col-xl-5 text-center">
                <a href="{{ path('app_offer_index') }}"><img src="{{ asset('img/offre1.png')}}" alt="" width="100%"></a>
            </div>
        </div>
    </div>

{% endblock %}
