<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />

    <title>
        7e-ART
    </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('style/accueil.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('style/homepage.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('style/achat.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('style/ficheFilm.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('style/liste_articles.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('style/offres.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('style/prochaines_seances.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('style/seances_semaine.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('style/salle_cinema.css')}}">
    {% endblock %}

</head>


<body>

<div id="header-full-width" class="container-fluid">
    {# --- HEADER --- #}
    <header>
        <div id="logoEtForm" class="container d-flex justify-content-between">
            <a href="{{ path('app_app_index') }}"><img id="logo" src="{{ asset('img/logo.png')}}" alt=""></a>
            <form action="{{ path('app_movie_search') }}" id="search_button" class="form-inline mt-4" method="GET">
                <button class="btn btn-primary btn-sm mr-2" type="submit"><span class="lnr lnr-magnifier"></span></button>
                <input name="_q" id="rechercheProduit" class="form-control" type="search" placeholder="Rechercher un film" aria-label="Search" value="{{ app.request.get('_q', '') }}">
            </form>
        </div>
    </header>
    {# --- FIN HEADER#}

    {# --- NAVBAR --- #}
    <nav class="navbar-expand-md navbar-dark" role="navigation">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#"></a>
                    <ul class="navbar-nav col-12 d-flex justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == 'app_app_index' %} active {% endif %} home" href="{{ path('app_app_index') }}"><span class="lnr lnr-home"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == 'app_movie_weekmovie' %} active {% endif %} nav_right"  href="{{ path('app_movie_weekmovie') }}">SÉANCES DE LA SEMAINE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == 'app_movie_nextmovie' %} active {% endif %} nav_right" href="{{ path('app_movie_nextmovie') }}">PROCHAINES SORTIES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == 'app_article_index' %} active {% endif %} nav_right" href="{{ path('app_article_index') }}">ACTUALITÉS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == 'app_offer_index' %} active {% endif %} nav_right" href="{{ path('app_offer_index') }}">OFFRES</a>
                        </li>
                    </ul>
                </div>
        </div>
    </nav>
    {# FIN NAVBAR #}
</div>

<div class="container-fluid py-5 px-0" style="background-color: #dad2d8;">
    {% for type, flashes in app.session.flashBag.all  %}
        {% for message in flashes %}
            {#pour la classe alert-danger du bootstrap #}
            {% if type == 'error' %}
                {% set type = 'danger' %}
            {% endif %}
            <div class="alert alert-{{ type }}">
                {{message|raw }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
</div>

    {# FOOTER #}
<div class="container-fluid global_footer pt-4 pb-4">
    <div class="container">
        <footer>
            <div class="footer_top">
                <div class="row">
                    <div class="col nav-link text-center">
                        <a href="{{ path('app_info_dijon') }}">Cinéma Dijon</a>
                    </div>
                    <div class="col nav-link text-center">
                        <a href="{{ path('app_info_index') }}">Cinéma Montpellier</a>
                    </div>
                    <div class="col nav-link text-center">
                        <a href="{{ path('app_info_lyon') }}">Cinéma Lyon</a>
                    </div>
                    <div class="col nav-link text-center hiddenResponsive">
                        <a href="{{ path('app_info_strasbourg') }}">Cinéma Strasbourg</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col nav-link text-center">
                        <a href="{{ path('app_info_rennes') }}">Cinéma Rennes</a>
                    </div>
                    <div class="col nav-link text-center">
                        <a href="{{ path('app_info_marseille') }}">Cinéma Marseille</a>
                    </div>
                    <div class="col nav-link text-center">
                        <a href="{{ path('app_info_nancy') }}">Cinéma Nancy</a>
                    </div>
                    <div class="col nav-link text-center hiddenResponsive">
                        <a href="{{ path('app_info_toulouse') }}">Cinéma Toulouse</a>
                    </div>
                </div>
            </div>

            <div class="footer_middle_1">
                <div class="row">
                    <div class="col-md-4 text-center"></div>
                    <div class="col-md-4 text-center">
                        <i class="fab fa-facebook fa-2x"></i>
                        <i class="fab fa-twitter fa-2x"></i>
                        <i class="fab fa-instagram fa-2x"></i>
                    </div>
                    <div class="col-md-4 text-center"></div>
                </div>
            </div>

            <div class="footer_middle_2">
                <div class="row">
                    <div class="col-md-4 pb-2">
                        <div class="text-center">Newsletter</div>

                        <form id="newsletterForm" action="{{ path('app_newsletter_index') }}" method="post">
                            <div class="text-center">
                                <input type="email" class="form-control" name="email" id="newsletterForm" aria-describedby="emailHelp" placeholder="Entrez votre email" width="50px">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-sm" id="newsletterBtn">
                                        Envoyer
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 site_map1">
                        <a href="{{ path('app_contact_index') }}"><div class="text-center pb-1">Contact</div></a>
                        <div class="text-center pb-1">Team</div>
                        <div class="text-center pb-1">Plan du site</div>
                    </div>
                    <div class="col-md-4 site_map2">
                        <div class="text-center pb-1">Charte de confidentialité</div>
                        <div class="text-center pb-1">Mentions légales</div>
                        <div class="text-center pb-1">Conditions générales</div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="row">
                    <div class="col-md-12 text-center">&copy; 7eme art - Tous droits reservés</div>
                </div>
            </div>
        </footer>
        {# FIN FOOTER #}

    </div>
</div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/datatables.min.js') }}"></script>

    <script src="{{ asset('script/common.js')}}"></script>

    {% block javascripts %}
        <script src="{{ asset('script/offer.js')}}"></script>
        <script src="{{ asset('script/homepage.js')}}"></script>
        <script src="{{ asset('script/achatPlace.js')}}"></script>
        <script src="{{ asset('script/ficheFilm.js')}}"></script>
    {% endblock %}
</body>

</html>