{% extends 'admin/base_admin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Gestion messages</h1>

        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th width="150px"></th>
            </tr>
            {% for email in email %}
                <tr>
                    <td>{{ email.id }}</td>
                    <td>{{ email.email }}</td>

                    <td>
                        <a href="{{ path('app_admin_newsletter_delete', {id: email.id}) }}"
                           class="btn btn-danger">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}