{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Newsletter</h1>
        {{ form_start(form) }}

        {{ form_row(form.email) }}

        <div class="text-right mb-4">
            <button type="submit"
                    class="btn btn-primary">
                Envoyer
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
