.article_film {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-bottom: 50px;
    margin-top: 50px;
}

.album,
.article_film,
.centrerAffiche {
    padding-top: 20px;
}