/*** Police ***/
body{font-family: 'PT Sans', sans-serif;}



/*** Début nav ***/

#header-full-width{
    padding:0;
    background-image: url("/assets/img/Haut_oblique_V2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#header-full-width header{
    height: 300px;
}

#logoEtForm{
    padding-top: 160px;
}

.navbar-expand-md{
    background-color: #143642;
    padding: 5px;
    z-index: 2;
    position: relative;
}

.navbar-dark .navbar-nav .nav-link, nav button{
    color: #ffffff;
}

#search_button .btn-primary{
    background-color: #0f8b8d;
    border: none;
}

#logo{
    z-index: 3;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #ea9010;
}


.navbar-toggler:hover{
    background-color: #ea9010;

}


/*********** NAV FIXE ****************/

#navigation{
    z-index: 1;
}

.fixe{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.home {
    font-size: 30px;
    padding: 0;
}

@media (min-width: 768px) {
    .nav_right{
        padding-top: 12px;
    }
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #EA9010;
}

/*** Fin nav ***/


/**** Début Footer ****/

.footer_top,
.footer_middle_1,
.footer_middle_2 {
    padding-bottom: 30px;
}

.footer_middle_2 {
    padding-bottom: 40px;
}

#newsletterForm {
    width: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.footer_middle_2 .btn{
    background-color: #0f8b8d;
    border: none;
}

.fa-twitter,
.fa-instagram {
    padding-left: 20px;
}

.global_footer{
    background: #143642;
    color: white;
}
.site_map1 a,
.site_map2 a{
    text-decoration: none;
    color: white;
}

.footer_top div a{
    text-decoration: none;
    color: #fff;
}

/**** Fin Footer ****/


/*** Début Media Queries - Responsive Design ***/


/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */

@media screen and (max-width: 900px) {
    .site_map {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    #rechercheProduit {
        width: 110px;
    }

    .logo {
        width: 110px;
        height: 70px;
    }

    nav ul li {
        text-align: center;
    }
    .hiddenResponsive {
        visibility: hidden;
    }
}


/*** Fin Media Queries ***/