@media (max-width:576px) {
    .margeMobile {
        padding-bottom: 2%;
    }
    .margeContainerResponsive{
        margin-left: 5px;
    }
}

#quantitePlace {
    width: 60px;
}

.boxshadow:hover{
    box-shadow: 2px 2px 2px 2px;
}


@media (min-width:992px){
    .marginh2{
    margin-left: 180px;
    }
}

@media (min-width:768px) {
    #tarif{
        margin-top: 110px;
    }


}
