/* icone horloge taille et décalage */

.lnr-clock {
    font-size: 20px;
    margin-right: 15px;
}


/* pas de surlignement sur le lien horaires */




/* texte durée décalage */

.duree {
    margin: 1px 0px 0px 12px;
}


/* responsive mobile */

@media (max-width:768px) {
    .duree,
    .lnr-clock,
    #lienHoraires,
    #afficheFilm {
        display: none;
    }
    .nomFilm {
        font-size: 25px;
        padding-left: 40px;
        font-weight: bold;
    }
}

@media (max-width:576px) {
    .margeMobile1{
        margin-left: 1em;
    }
    .nomFilm {
        font-size: 18px;
        padding-left: 40px;
        font-weight: bold;
    }
}

@media (max-width:992px){
.margeMobile1 a {
    margin-right: 40px;
}
}


/* liste description film */

#descriptionFilm ul li {
    list-style-type: none;
    padding: 1.5%;
}


/* container bandeannonce */

#containerVideo {
    width: 650px;
    padding: 2%;
}


/* Horaires - modification du sélecteur date */

#datepicker {
    width: 120px;
    margin-right: 5px;
}

.couleur_horaires {
    background-color: #0f8b8d;
    border-color: #0f8b8d;
    color: white;
}

.couleur_horaires:hover {
    background-color: #e7e7e7;
    color: #0f8b8d;
}