/******* CAROUSEL FILMS ACCUEIL ********/

@media (min-width: 768px) {
    /* mise en forme pour respecter charte graphique */
    #carouselFilmsAccueil{
        padding:1em;
    }

    #carouselFilmsAccueil .panel-thumbnail{
        transform: scale(1);
        transition: .3s ease-in-out;
    }

    #carouselFilmsAccueil .panel-thumbnail:hover{
        /*transform: scale(1.3);*/
    }

    #poster:hover{
        border: #ffffff 3px solid;
        transition-duration: 75ms;
    }

    #poster2:hover{
        border: #EA9010 solid;
        transition-duration: 75ms;
    }

    /* show 3 items */
    #carouselFilmsAccueil .carousel-inner .active,
    #carouselFilmsAccueil .carousel-inner .active+.carousel-item,
    #carouselFilmsAccueil .carousel-inner .active+.carousel-item+.carousel-item,
    #carouselFilmsAccueil .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item,
    #carouselFilmsAccueil .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item+.carousel-item,
    #carouselFilmsAccueil .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item{
        display: block;
    }
    #carouselFilmsAccueil .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #carouselFilmsAccueil .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    #carouselFilmsAccueil .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item,
    #carouselFilmsAccueil .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item,
    #carouselFilmsAccueil .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item+.carousel-item,
    #carouselFilmsAccueil .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item{
        transition: none;
    }
    #carouselFilmsAccueil .carousel-inner .carousel-item-next,
    #carouselFilmsAccueil .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    #carouselFilmsAccueil .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    #carouselFilmsAccueil .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    #carouselFilmsAccueil .carousel-item-next.carousel-item-left+.carousel-item,
    #carouselFilmsAccueil .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    #carouselFilmsAccueil .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item,
    #carouselFilmsAccueil .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item,
    #carouselFilmsAccueil .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item{
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    #carouselFilmsAccueil .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    #carouselFilmsAccueil .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    #carouselFilmsAccueil .carousel-item-prev.carousel-item-right+.carousel-item,
    #carouselFilmsAccueil .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    #carouselFilmsAccueil .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item,
    #carouselFilmsAccueil .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item,
    #carouselFilmsAccueil .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item{
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
    /* Controleurs carousel */
    #carouselFilmsAccueil .lnr-chevron-left {
        position: relative;
        left: -55%;
        color: #000000;
        font-size: 20px;
        font-weight: 900;
    }
    #carouselFilmsAccueil .lnr-chevron-right {
        position: relative;
        right: -55%;
        color: #000000;
        font-size: 20px;
        font-weight: 900;
    }
}


/******* FIN CAROUSEL FILMS ACCUEIL ********/


/******** BLOC ARTICLES ET OFFRES ACCUEIL **********/

#mainBlocAccueil {
    margin-right: 0;
    margin-left: 0;
}

.blocArticlesOffres {
    background-color: #143642;
}

.blocArticlesSolo {
    margin: 10px 10px 15px 10px;
    padding: 15px 5px 15px 5px;
    border: solid grey 0.5px;
}

.blocArticlesSolo img{
    width: 100%;
    max-width: 150px;
    max-height: 120px;
}

@media (max-width: 992px){
    #mainBlocAccueil .text-center{
        margin-top: 1.5em;
    }
}
