.card-deck {
    margin-top: 30px;
    margin-bottom: 30px;
}

.pass_10 {
    background-color: #0f8b8d;
    color: white;
}

.carte_duo {
    background-color: #ea9010;
    color: white;
}

.carte_illimite {
    background-color: #da3a32;
    color: white;
}

/*** Hover ***/

.pass_10:hover {
    background-color: #e7e7e7;
    color: #0f8b8d;
    border-color: #0f8b8d;
}

.carte_illimite:hover {
    background-color: #e7e7e7;
    color: #da3a32;
    border-color: #da3a32;
}

.carte_duo:hover {
    background-color: #e7e7e7;
    color: #ea9010;
    border-color: #ea9010;
}

.carousel-indicators{
    z-index: 1;
}

@media (min-width: 576px) and (max-width: 768px){

    .margeOffreResponsive{
        padding-bottom: 23.60px;
    }
}
