.head {
    border-color: #0f8b8d;
    color: #0f8b8d;
    background-color: none;
}

.head_principal {
    background-color: #0f8b8d;
    color: white;
}

.titre_cinema:before {
    content: '';
    border-top: solid 1px #0f8b8d;
    position: absolute;
    top: 49%;
    left: 0;
    right: 0;
    z-index: 2;
}

#map{
    width: 100%;
}

.fautueil_rouge{
    width: 100%;
}

@media (max-width: 767px) {
    .titre_cinema:before{
        border-top: none;
    }

    .salle9{
        padding-bottom: 20px;
    }

    .informations_bas{
        padding-bottom: 20px;
    }

    .salle_bas {
        padding-bottom: 15px;
    }

}