{% extends 'admin/base_admin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Edition article</h1>
        {# ouvre la balise form #}
        {{ form_start(form) }}

        {# bloc de formulaire pour l'attribut name #}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.image) }}

        {% if original_image is not null %}
            <p>
                Actuellement :
                <img src="/images/{{ original_image }}" height="200px">
            </p>
        {% endif %}

        <div class="text-right">
            <button type="submit"
                    class="btn btn-info">
                Enregistrer
            </button>
            <a href="{{ path('app_admin_article_index') }}"
               class="btn btn-outline-secondary">
                Retour
            </a>
        </div>

        {# ferme la balise form #}
        {{ form_end(form) }}
    </div>
{% endblock %}