{% extends 'admin/base_admin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Gestion articles</h1>

        <p>
            <a href="{{ path('app_admin_article_edit') }}">
                Ajouter un article
            </a>
        </p>

        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Illustration</th>
                <th>Titre</th>
                <th>Date</th>
                <th width="250px"></th>
            </tr>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.image }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.publicationDate|date('d/m/Y H:i') }}</td>
                    <td>
                        <a href=" {{ path('app_admin_article_edit', {id: article.id}) }}"
                           class="btn btn-primary">
                            Modifier
                        </a>
                        <a href="{{ path('app_admin_article_delete', {id: article.id}) }}"
                           class="btn btn-danger">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}