<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />

    <title>
        7e-ART
    </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" /> {% block stylesheets %}{% endblock %}
</head>

<body>
{% if is_granted('ROLE_ADMIN') %}
    <nav class="navbar navbar-expand-md navbar-info bg-info">
        <div class="container navbar-nav">
            <a class="navbar-brand text-white">
                7ème Art ~ Admin
            </a>
            <div class="navbar-collapse justify-content-end">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_admin_movie_index')}}">
                            Films
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_admin_article_index') }}">
                            Articles
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_admin_contact_index') }}">
                            Messages
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_admin_security_listusers') }}">
                            Utilisateurs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_admin_newsletter_index') }}">
                            Inscrits newsletter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_logout')}}">
                            Déconnexion
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-expand-md navbar-info bg-info">
        <div class="container navbar-nav">
            <a class="navbar-brand text-white">
                7ème Art ~ Admin
            </a>
            <div class="navbar-collapse justify-content-end">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_admin_security_login')}}">
                            Connexion
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_admin_security_register')}}">
                            Inscription
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}
{% for type, flashes in app.session.flashBag.all  %}
    {% for message in flashes %}
        {#pour la classe alert-danger du bootstrap #}
        {% if type == 'error' %}
            {% set type = 'danger' %}
        {% endif %}
        <div class="alert alert-{{ type }}">
            {{message|raw }}
        </div>
    {% endfor %}
{% endfor %}
    {% block body %}{% endblock %}

    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/datatables.min.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>

</html>