{% extends 'admin/base_admin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Gestion messages</h1>

        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Sujet</th>
                <th>Message</th>
                <th width="250px"></th>
            </tr>
            {% for message in messages %}
                <tr>
                    <td>{{ message.id }}</td>
                    <td>{{ message.lastname }}</td>
                    <td>{{ message.firstname }}</td>
                    <td>{{ message.subject }}</td>
                    <td>{{ message.message }}</td>
                    <td>
                        <a href="#"
                           class="btn btn-primary">
                            Répondre
                        </a>
                        <a href="{{ path('app_admin_contact_delete', {id: message.id}) }}"
                           class="btn btn-danger">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}