{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Contact</h1>
        {# ouvre la balise form #}
        {{ form_start(form) }}

        {# bloc de formulaire pour l'attribut name #}
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.message) }}

        <div class="text-right mb-4">
            <button type="submit"
                    class="btn btn-primary">
                Envoyer
            </button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}