{% extends 'admin/base_admin.html.twig' %}

{% block body %}
    <div class="container">
        <p>Votre message a été envoyé. Nous le traiterons dans les plus brefs délais</p>
    </div>
{% endblock %}