
{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        {% for article in articles %}
            <div class="row border text-white mb-4" style="background-color: #0f8b8d">
                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                        <img class="margeImageResponsive" src="/images/{{ article.image }}" alt="" width="100%"/>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                              <div class="row d-flex justify-content-between">
                                  <h5>{{ article.title }}</h5>
                                  <p>{{ article.publicationDate | date('d/m/Y H:m') }}</p>
                              </div>
                            <p class="card-text">{{ article.content }}</p>
                        </div>
                    </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
