{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row mt-5 mb-2">
            <div class="col-md-2 titre_cinema"></div>
            <div class="col-md-8">
                <h3 class="head_principal alert text-center">Votre cinéma - 7e-art Dijon</h3>
            </div>
            <div class="col-md-2 titre_cinema"></div>
        </div>

        <div class="row mt-1 mb-4">
            <div class="col-md-12 text-center"><img class="fautueil_rouge" src="{{ asset('img/salle_cinema.jpg')}}" alt="" /></div>
        </div>

        <div class="row mb-2">
            <div class="col-md-8">
                <h3 class="head alert alert-secondary">Places par salle</h3>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <p class="card-text mb-auto">Salle 1</p>
                            <p class="card-text mb-auto salle_bas">120 places</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="card-text mb-auto">Salle 2</p>
                            <p class="card-text mb-auto salle_bas">90 places</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="card-text mb-auto">Salle 3</p>
                            <p class="card-text mb-auto salle_bas">60 places</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row mt-3">
                        <div class="col-md-4 text-center">
                            <p class="card-text mb-auto">Salle 4</p>
                            <p class="card-text mb-auto salle_bas">55 places</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="card-text mb-auto">Salle 5</p>
                            <p class="card-text mb-auto salle_bas">75 places</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="card-text mb-auto">Salle 6</p>
                            <p class="card-text mb-auto salle_bas">85 places</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 salle9">
                    <div class="row mt-3">
                        <div class="col-md-4 text-center">
                            <p class="card-text mb-auto">Salle 7</p>
                            <p class="card-text mb-auto salle_bas">210 places</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="card-text mb-auto">Salle 8</p>
                            <p class="card-text mb-auto salle_bas">30 places</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="card-text mb-auto">Salle 9</p>
                            <p class="card-text mb-auto salle_bas">105 places</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="head alert alert-secondary">Coordonnées</h3>
                <p class="card-text mb-auto text-center">Adresse : 8 place Darcy - Dijon</p>
                <p class="card-text mb-auto text-center">Tél : 0892 688 588</p>
                <p class="card-text mb-auto text-center">Email : contact@septiemeart.fr</p>
            </div>
        </div>

        <div class="row mt-5 mb-2">
            <div class="col-md-8 informations_bas">
                <h3 class="head alert alert-secondary">Informations</h3>
                <div class="col-md-12">
                            <p class="card-text mb-auto">Cinéma ouvert 7j/7 toute l'année de 10h30 à 23h00.</p>
                            <p class="card-text mb-auto">Parking gratuit de 900 places.</p>
                            <p class="card-text mb-auto">Cinéma équipé d'un défibrillateur.</p>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="head alert alert-secondary">Tarifs</h3>
                <div class="text-center">
                <a href="#">Voir la page tarif</a>
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-2">
            <div class="col-md-12">
                <h3 class="head alert alert-secondary">Plan d'accès</h3>
                    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.8737294367393!2d3.877461115776386!3d43.60917066329424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6afa7478c049b%3A0xabf68516cb2c8678!2s10+Place+de+la+Com%C3%A9die%2C+34000+Montpellier!5e0!3m2!1sfr!2sfr!4v1544782473544" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

    </div>


{% endblock %}