/*** Début nav ***/


/*** Fin nav ***/


/**** Début Footer ****/

.footer_top,
.footer_middle_1,
.footer_middle_2 {
    padding-bottom: 30px;
}

.footer_middle_2 {
    padding-bottom: 40px;
}

#newsletterForm {
    width: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.fa-twitter,
.fa-instagram {
    padding-left: 20px;
}


/**** Fin Footer ****/


/*** Début Media Queries - Responsive Design ***/


/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */

@media screen and (max-width: 900px) {
    .site_map {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    #rechercheProduit {
        width: 160px;
    }
    nav ul li {
        text-align: center;
    }
    .hiddenResponsive {
        visibility: hidden;
    }
}


/*** Fin Media Queries ***/