{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        {# Affichage du carousel publicitaire #}
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{ asset('img/pub1.png')}}" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ asset('img/pub2.png')}}" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ asset('img/pub3.png')}}" alt="Third slide">
                </div>
            </div>
        </div>


    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">PASS 10</h4>
            </div>
            {# Affichage de la 1ère offre #}
            <div class="card-body">
                <img src="{{ asset('img/CARTE_PASS10.png')}}" alt="" width="100%"/>
                <h1 class="card-title pricing-card-title margeOffreResponsive">15&euro;</h1>
                <ul class="list-unstyled mt-3 mb-4 margeOffreResponsive">
                    <li>Lorem ipsum</li>
                    <li>dolor sit amet</li>
                    <li>adipisicing elit</li>
                    <li>dolore magna aliqua</li>
                </ul>
                <a style="text-decoration: none" href="{{ path('app_offer_purchase1') }}"><button type="submit" class="pass_10 btn btn-lg btn-block">Acheter</button></a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">ILLIMITÉ</h4>
            </div>
            {# Affichage de la 2ème offre #}
            <div class="card-body">
                <img src="{{ asset('img/CARTE_ILLIMITE.png')}}" alt="" width="100%"/>
                <h1 class="card-title pricing-card-title">30&euro;<small class="text-muted"> / mois</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Lorem ipsum</li>
                    <li>dolor sit amet</li>
                    <li>adipisicing elit</li>
                    <li>dolore magna aliqua</li>
                </ul>
                <a style="text-decoration: none" href="{{ path('app_offer_purchase2') }}"><button type="submit" class="carte_illimite btn btn-lg btn-block">Acheter</button></a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">DUO</h4>
            </div>
            {# Affichage de la 3ème offre #}
            <div class="card-body">
                <img src="{{ asset('img/CARTE_DUO.png')}}" alt="" width="100%"/>
                <h1 class="card-title pricing-card-title">45&euro;<small class="text-muted"> / mois</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Lorem ipsum</li>
                    <li>dolor sit amet</li>
                    <li>adipisicing elit</li>
                    <li>dolore magna aliqua</li>
                </ul>
                <a style="text-decoration: none" href="{{ path('app_offer_purchase3') }}"><button type="submit" class="carte_duo btn btn-lg btn-block">Acheter</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
