{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h2 class="pb-3 marginh2">Réservation</h2>
        <div class="row offset-lg-2 col-lg-8 border border-dark p-3 margeContainerResponsive">
            <div class="col-sm-12 col-md-6 col-lg-5 margeMobile text-center">
                <img src="{{ asset('img/CARTE_DUO.png')}}" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                <div class="row margeMobile d-flex justify-content-start">
                    <h3>Carte Duo</h3>
                </div>
                <div class="row margeMobile d-flex justify-content-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus velit omnis tempore corrupti corporis quidem accusamus beatae cumque dolor,</div>
                <div class="row margeMobile d-flex justify-content-start justify-content-md-end pt-4">
                    <h2>Tarif : 45€/mois</h2>
                </div>
            </div>
        </div>
        <h2 class="pt-5 pb-3 marginh2">Règlement</h2>
        <div class="offset-3 col-6 border border-dark p-4 boxshadow">
            <a href="{{ path('app_app_index') }}" class="payed" style="text-decoration: none; color: #000000">
                <h5 class="text-center">Carte Bancaire</h5>
                <div class="d-flex justify-content-center">
                    <i class="fab fa-cc-visa fa-2x pr-1"></i>
                    <i class="fab fa-cc-mastercard fa-2x pr-1"></i>
                    <i class="fab fa-cc-paypal fa-2x"></i>
                </div>
            </a>
        </div>
    </div>

{% endblock %}