{% extends 'admin/base_admin.html.twig' %}


{% block body %}
    <div class="container">
        <h1>Liste des utilisateurs</h1>
    {#
    Lister toutes les informations des utilisateurs dans un tableau HTML, avec la date de naissance au format français
    #}
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Rôle</th>
                <th width="300px"></th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        {% if user.getId() != app.user.getId() %}
                            {% if (user.getRole() == 'ROLE_USER') %}
                                <a href=" {{ path('app_admin_security_promote', {id: user.id}) }}"
                                   class="btn btn-success">
                                    Passer en admin
                                </a>
                            {% endif %}

                            {% if (user.getRole() == 'ROLE_ADMIN') %}
                                <a href=" {{ path('app_admin_security_demote', {id: user.id}) }}"
                                   class="btn btn-warning">
                                    Rétrograder
                                </a>
                            {% endif %}

                            <a href="{{ path('app_admin_security_deleteuser', {id: user.id}) }}"
                               class="btn btn-danger">
                                Supprimer
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}