{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h2 class="pb-3 marginh2">Réservation</h2>
        <div class="row offset-lg-2 col-lg-8 border border-dark p-3 margeContainerResponsive">
            <div class="col-sm-12 col-md-5 col-lg-4 margeMobile text-center">
                <img src="{{ movie.posters|replace({'TAILLE': '250'}) }}" alt="">
            </div>
            <div class="col-sm-12 col-md-7 col-lg-8">
                <div class="row margeMobile d-flex justify-content-start justify-content-md-end">
                    <h3>{{ movie.title }}</h3>
                </div>
                <div class="row margeMobile d-flex justify-content-start justify-content-md-end">{{ bookingDate | localizeddate('none', 'none', null, null, 'EEEE dd MMMM Y') | capitalize }}</div>
                <div class="row margeMobile d-flex justify-content-start justify-content-md-end">
                    <p>{{ bookingDate | date('H') }}h{{ bookingDate | date('i') }}</p>
                </div>
                <div class="row margeMobile d-flex justify-content-start justify-content-md-end">
                    <p>{{ lang }}</p>
                </div>
                <div id="tarif" class="row d-flex justify-content-start justify-content-md-end mt-md-7 pb-3">
                    <label for="quantitePlace">Nombre de place(s)</label>
                    <select class="form-control ml-2" id="quantitePlace" name="quantitePlace">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="row d-flex justify-content-start justify-content-md-end">
                    <h1>Tarif :&nbsp;</h1><h1 id='ticketPrice'>9</h1><h1>€</h1>
                </div>
            </div>
        </div>
        <h2 class="pt-5 pb-3 marginh2">Règlement</h2>
        <div class="row offset-md-2 col-12 col-md-8">
            <div class="col-6 col-md-5 border border-dark  p-4 boxshadow">
                <a href="{{ path('app_app_index') }}" class="payed" style="text-decoration: none; color: #000000">
                    <h5 class="text-center">Carte Abonnement</h5>
                    <div class="d-flex justify-content-center">
                        <img class="pr-1" src="{{ asset('img/minicarte_pass10.png')}}" alt="minicarte">
                        <img class="pr-1" src="{{ asset('img/minicarte_illimite.png')}}" alt="minicarte">
                        <img class="pr-1" src="{{ asset('img/minicarte_duo.png')}}" alt="minicarte">
                    </div>
                </a>
            </div>

                <div class="offset-1 col-5 offset-md-2 col-md-5 border border-dark p-4 boxshadow">
                    <a href="{{ path('app_app_index') }}" class="payed" style="text-decoration: none; color: #000000">
                        <h5 class="text-center">Carte Bancaire</h5>
                        <div class="d-flex justify-content-center">
                            <i class="fab fa-cc-visa fa-2x pr-1"></i>
                            <i class="fab fa-cc-mastercard fa-2x pr-1"></i>
                            <i class="fab fa-cc-paypal fa-2x"></i>
                        </div>
                    </a>
                </div>
        </div>
    </div>


{% endblock %}
