{% extends 'admin/base_admin.html.twig' %}

{% block body %}
<div class="container pt-2">

    <h1>Edition des films</h1>
    {# Affichage d'un formulaire pour l'ajout d'un nouveau film #}
    <div class="form-group">
    {{ form_start(form) }}
    {# Bloc de formulaire #}
    {{ form_row(form.productId) }}
    {{ form_row(form.title) }}
    {{ form_row(form.dateRelease) }}
    {{ form_row(form.directors) }}
    {{ form_row(form.countries) }}
    {{ form_row(form.actors) }}
    {{ form_row(form.genres) }}
    {{ form_row(form.storyline) }}
    {{ form_row(form.posters) }}
    {{ form_row(form.trailer) }}
    {{ form_row(form.length) }}

    <div class="text-right">
        <button type="submit" class="btn btn-info">
            Enregistrer
        </button>
        <a href="{{ path('app_admin_movie_index') }}"
           class="btn btn-outline-info">
            Retour
        </a>
    </div>

    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
