{% extends 'admin/base_admin.html.twig' %}

{% block body %}
<div class="container-fluid pt-2">
    <h1>Gestion des films</h1>

    {# Création d'un lien pour créer une fiche film #}
    <p class="text-right pr-5 pb-3" >
        <a href="{{ path('app_admin_movie_edit')}}">
            Ajouter un film
        </a>
    </p>

    {# Création d'un tableau récapitulant tous les films #}
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Date de Sortie</th>
            <th>Réalisateurs</th>
            <th>Origine</th>
            <th>Acteurs</th>
            <th>Genres</th>
            <th>Synopsis</th>
            <th>Trailer</th>
            <th>Durée (en seconde)</th>
            <th>Affiche</th>
            <th width="30px"></th>
        </tr>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.dateRelease|date('d/m/Y') }}</td>
                <td>{{ movie.directors|replace({',': ',<br>'})|raw }}</td>
                <td>{{ movie.countries|replace({',': ',<br>'})|raw }}</td>
                <td>{{ movie.actors }}</td>
                <td>{{ movie.genres|replace({',': ',<br>'})|raw }}</td>
                <td>{{ movie.storyline }}</td>
                <td>{{ movie.trailer|replace({',': ',<br>'})|raw }}</td>
                <td>{{ movie.length }}</td>
                <td>{{ movie.posters|replace({'/': '/<br>'})|raw }}</td>
                <td>
                    <a href="{{ path('app_admin_movie_modify', {id: movie.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                    <a href="{{ path('app_admin_movie_deletemovie', {id: movie.id}) }}"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
