{% extends 'base.html.twig' %}

{% block body %}

<!-- DESCRIPTION FILM -->
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-10 d-flex justify-content-start align-items-center">
            <h1 class="text-uppercase nomFilm">{{ movie.title }}</h1>
            <p class="font-italic duree">{{ movie.length|date('H', '+00:00 GMT') }}h{{ movie.length|date('i', '+00:00 GMT')  }}</p>
        </div>
        <div class="col-12 col-md-2 d-flex align-items-center justify-content-end"><span class="lnr lnr-clock"></span>
            <a href="#" id="lienHoraires" class="text-uppercase">Horaires</a>
        </div>
    </div>

    <div class="row pt-3">
        <a><div class="col-md-4 col-lg text-center mb-sm-3"><img src="{{  movie.posters|replace({'TAILLE': '300'}) }}" alt="" id="afficheFilm"></div></a>
        <div id="descriptionFilm" class="col-md-8 col-lg col-12 list-inline d-flex align-items-center">
            <ul>
                <li><span class="font-weight-bold">Réalisateur :</span> {{ movie.directors }}</li>
                <li><span class="font-weight-bold">Acteurs :</span> {{ movie.actors }}</li>
                <li><span class="font-weight-bold">Nationalités :</span> {{ movie.countries }}</li>
                <li><span class="font-weight-bold">Genre :</span> {{ movie.genres }}</li>
                <li><span class="font-weight-bold">Date de sortie :</span> {{ movie.dateRelease|date('d/m/Y') }}</li>
                <li><span class="font-weight-bold">Synopsis :</span> {{ movie.storyline }}</li>
            </ul>
        </div>
    </div>
</div>

<!-- BANDE ANNONCE -->
<div class="mt-4 d-flex justify-content-center" style="background-color: #0f8b8d">
    <div id="containerVideo">
        <div class="embed-responsive embed-responsive-16by9 ">
            <iframe class="embed-responsive-item" src="{{ movie.trailer|replace({'yt_':'https://www.youtube.com/embed/','no_':'','vm_':'https://player.vimeo.com/video/'})}}" allowfullscreen></iframe>
        </div>
    </div>
</div>

<!-- HORAIRES FILM -->
<div class="container mt-4">
    <h2 class="text-uppercase text-center" id="sectionHoraires">Horaires</h2>
    <div class="row margeMobile1">
        <input type="text" id="datepicker">
    </div>

    <div class="row mt-3 margeMobile1">
        <p>VF :</p>
    </div>
    <div class="row mt-2 margeMobile1">
            <a class="col-1 art-time-select disabled" href="{{ path('app_reservation_index', { id: movie.id, date: 'yyyy-mm-dd', time: '11:00', lang: 'VF' }) }}"><button class="btn couleur_horaires">11:00</button></a>
            <a class="col-1 art-time-select disabled" href="{{ path('app_reservation_index', { id: movie.id, date: 'yyyy-mm-dd', time: '14:45', lang: 'VF' }) }}"><button class="btn couleur_horaires">14:45</button></a>
            <a class="col-1 art-time-select disabled" href="{{ path('app_reservation_index', { id: movie.id, date: 'yyyy-mm-dd', time: '17:15', lang: 'VF' }) }}"><button class="btn couleur_horaires">17:15</button></a>
            <a class="col-1 art-time-select disabled" href="{{ path('app_reservation_index', { id: movie.id, date: 'yyyy-mm-dd', time: '20:30', lang: 'VF' }) }}"><button class="btn couleur_horaires">20:30</button></a>
    </div>

    <div class="row mt-4 mb-2 margeMobile1">
        <p>VOSTFR :</p><br>
    </div>
    <div class="row margeMobile1">
        <a class="col-1 art-time-select disabled" href="{{ path('app_reservation_index', { id: movie.id, date: 'yyyy-mm-dd', time: '12:30', lang: 'VOSTFR' }) }}"><button class="btn couleur_horaires">12:30</button></a>
        <a class="col-1 art-time-select disabled" href="{{ path('app_reservation_index', { id: movie.id, date: 'yyyy-mm-dd', time: '16:20', lang: 'VOSTFR' }) }}"><button class="btn couleur_horaires">16:20</button></a>
        <a class="col-1 art-time-select disabled" href="{{ path('app_reservation_index', { id: movie.id, date: 'yyyy-mm-dd', time: '21:15', lang: 'VOSTFR' }) }}"><button class="btn couleur_horaires">21:15</button></a>
    </div>
</div>


{% endblock %}
