{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h1 class="text-uppercase pb-4 col-12 titre_principal">Les prochaines séances</h1>
        <h3 class="text-uppercase font-italic pb-4 col-12 soustitre_date">{{ movies|first.dateRelease | localizeddate('none', 'none', null, null, 'EEEE dd MMMM Y') }}</h3>
        <div class="row">
            {% for movie in movies %}
            <div class="col-md-3 text-center mb-4">
                <a href={{ path('app_movie_infomovie', {id: movie.id}) }}><img id="poster2" src="{{  movie.posters|replace({'TAILLE': '300'}) }}" alt="Generic placeholder image" width="140" height="200"></a>
                <h4>{{ movie.title }}</h4>
            </div>


            {% endfor %}
        </div>
    </div>
{% endblock %}
