{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

<h1 class="text-uppercase pb-4 col-12 titre_principal">Les séances de la semaine</h1>

<div class="row">
    {% for movie in movies %}
    <div class="col-md-3 text-center mb-4">
        <a href={{ path('app_movie_infomovie', {id: movie.id}) }}><img id="poster2" src="{{  movie.posters|replace({'TAILLE': '300'}) }}" alt="Generic placeholder image" width="140" height="200"></a>
        <h4>{{ movie.title }}</h4>
    </div>
    {% endfor %}
</div>
    </div>


{% endblock %}
