/* icone horloge taille et décalage */

.lnr-clock {
    font-size: 20px;
    margin-right: 15px;
}


/* pas de surlignement sur le lien horaires */

#lienHoraires:link {
    text-decoration: none;
}


/* texte durée décalage */

.duree {
    margin: 1px 0px 0px 12px;
}


/* responsive mobile */

@media (max-width:576px) {
    .duree,
    .lnr-clock,
    #lienHoraires,
    #afficheFilm {
        display: none;
    }
    .nomFilm {
        margin: auto;
    }
    .margeMobile1 {
        margin-left: 15px;
        margin-top: 10px;
    }
}


/* liste description film */

#descriptionFilm ul li {
    list-style-type: none;
    padding: 2%;
}


/* container bandeannonce */

#containerVideo {
    width: 650px;
    padding: 2%;
}


/* Horaires - modification du sélecteur date */

#datepicker {
    width: 120px;
    margin-right: 5px;
}